<%- include('./partials/head') %>

<body>
    <h1>Homepage</h1>
    <p>Valami szöveg</p>
    <ul>
        <% emberek.forEach(ember => { %>
            <li>
                Név: <%= ember.nev %>, 
                kor <%= ember.kor %></li>
                kép: <img src="images/macska.jpg">
        <% }) %>
    </ul>
    <a href="/">Home</a>
    <a href="/about">About</a>
</body>
</html>